@import "common";

.top {
  visibility: hidden;
}
.form{
  margin-bottom: 3vh;
}
.top-choiced {
  visibility: visible;
  display: inline-block;
}
.btn{
  margin-bottom: 3%;
  top: 2%;
}
.form-with{
  height: 90%;
}
.body-wrap{
  height: 100%;
}
.body-wrap-sub {
  position: relative;
  width: 80%;
  height: 90%;
  overflow: scroll;
  margin: 0 auto;
  top: 2%;
}
.paper-img-wrap {
  position: absolute;
  width: 80vw;
}
.paper-img {
  width: 100%;
}
.form-wrap {
  position: absolute;
  width: 70vw;
  height: 100%;
  margin: 0 5vw;
}
.form-title {
  width: 100%;
  height: $paper-textHeight-title;
  background-color: transparent;
  margin: 0;
  margin-top: $paper-lineHeight;
}
.form-content {
  width: 100%;
  height: $paper-textHeight-content;
  background-color: transparent;
  margin: 0;
  margin-top: $paper-lineHeight;
}
.paper{
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: $paper-textSize;
  line-height: $paper-lineHeight;
  padding: 0;
  border: 0;
}