@import "variables";

.show{
  visibility: visible;
}
.show-choiced{
  visibility: hidden;
}
.setting {
  visibility: hidden;
}
.setting-choiced {
  visibility: visible;
  display: inline-block;
}

.body-wrap{
  text-align: center;
}
p{
  margin: 0;
}
.logout{
  color: #FF0000;
}

//pc & tab横向き
@media screen and (min-width: 961px) and (orientation: landscape) {
  .btn{
      width: 60%;
  }
  .body-wrap{
      width: 70%;
      height: 100%;
      margin: 0 0 0 auto;
      font-size: $paper-textSize-pc;
  }
}