@import "variables";

.show{
    visibility: visible;
}
.setting {
    visibility: hidden;
}
.setting-choiced {
    visibility: visible;
    display: inline-block;
}

.body-wrap{
    text-align: center;
}
p{
    margin: 0;
}
.logout{
    color: #FF0000;
}
