@import "common";

.show {
    visibility: hidden;
}
.show-choiced {
    visibility: visible;
    display: inline-block;
}

.body-wrap{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.balloon-wrap{
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: 10%;
}
.balloon-wrap ul{
    position: absolute;
    width: 85%;
    top: 0;
    margin: 0 7.5%;
    padding: 0;
    z-index: 100;
}
.balloon-wrap li{
    color: #000000;
    list-style: none;
}
.title{
  margin-top: $paper-lineHeight;
}
.content{
  margin-top: $paper-lineHeight;
}