@import "variables";

.show {
    visibility: hidden;
}
.show-choiced {
    visibility: visible;
    display: inline-block;
}

.body-wrap{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: relative;
    height: 85%;
    top: 5%;
}
.balloon-wrap{
    position: relative;
    width: 80%;
    margin: 0 auto;

    ul{
      position: absolute;
      width: 85%;
      top: 0;
      margin: 0 7.5%;
      padding: 0;
      z-index: 100;
    }
    li{
      color: #000000;
      list-style: none;
      margin-top: $paper-lineHeight;
    }
}

//pc & tab横向き
@media screen and (min-width: 961px) and (orientation: landscape) {
  .btn{
    width: 60%;
  }
  .body-wrap{
    width: 70%;
    height: 95%;
    margin: 0 0 0 auto;
  }
  .balloon-wrap{
    width: 60%;

    li{
      font-size: $paper-textSize-tmb-pc;
      margin-top: $paper-lineHeight-tmb-pc;
      line-height: $paper-lineHeight-tmb-pc;
    }
  }
}