$bg-blue: #50b4ff;
$bg-white: #f0f0f0;
$color-main: #ffa73f;
$color-accent: #7095ff;
$paper-width-tmb: 35vw;
$paper-height-tmb: $paper-width-tmb * 1.41;
// $root-fontSize: 24px;
// 紙の画像の行間が40px,基準文字サイズを24px
// 紙の画像の行間が52px,基準文字サイズを32px
$paper-textSize: calc(32 * 100vw / 750);
$paper-lineHeight: calc(52 * 100vw / 750);
$paper-textHeight-title: calc(52 * 100vw / 750);
$paper-textHeight-content: calc(52 * 100vw / 750 * 12);

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo,
    sans-serif;
  margin: 0 auto;
  width: 100vw;
  font-size: 16px;
  line-height: 26px;
}

body {
  // height: 100%;
  background: linear-gradient($bg-blue, 45%, $bg-white);
}

* {
  box-sizing: border-box;
}

//body
.body-wrap {
  width: 100vw;
  height: 80vh;
  padding-top: 10%;
}

//グローバルナビ
.global-nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 13%;
  top: 87%;
  background-color: rgba(255, 255, 255, 0.4);
  // background-color: #F0F0F0;
  z-index: 100;
}
.global-nav-choiced {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 13%;
  top: 87%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 101;
}
.global-nav-img {
  display: inline-block;
  width: 18vw;
  height: 100%;
  margin: 0 auto;
}
.choice {
  visibility: hidden;
}

//ボタンレイアウト
.btn {
  width: 80%;
  height: 7vh;
  background-color: #ffffff;
  margin: 0 auto 5% auto;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: none;
}
.btnText {
  display: block;
  position: relative;
  // height: 100%;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #000000;
  line-height: 7vh;
  padding: 0;
}

//フォーム入力欄レイアウト
.field {
  margin-top: 8%;
}
.form {
  display: block;
  width: 80%;
  height: 7vh;
  background-color: #ffffff;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  border: none;
  padding: 0;
}
.formText {
  font-size: 24px;
}
.formLabel {
  display: inline-block;
  width: 100%;
  color: #000000;
  padding-left: 10vw;
}
.formRemember {
  margin-top: 0;
  margin-bottom: 10%;
}

// リンク
.link {
  width: auto;
  color: $color-accent;
  text-decoration: none;
}
