$bg-blue: #50b4ff;
$bg-white: #f0f0f0;
$color-main: #ffa73f;
$color-accent: #7095ff;

// 用紙サイズ→width:80vw
// 用紙サイズ:横幅600pxで下の数値になる
// 紙の画像の行間が52px,基準文字サイズを32px(sp表示)
$paper-textSize: calc(32 * 80vw / 600);
$paper-lineHeight: calc(52 * 80vw / 600);
$paper-textHeight-content: calc(52 * 80vw / 600 * 11);

// 用紙サイズ→width:88vh / 1.41
// spサイズを基準に(pc表示)
$paper-textSize-pc: calc(32 * 88vh / 1.41 / 600);
$paper-lineHeight-pc: calc((52 * 88vh) / 1.41 / 600);
$paper-textHeight-content-pc: calc(52 * 88vh / 600 / 1.41 * 11);

//showでサムネ表示のサイズ(pc表示)
$paper-textSize-tmb-pc: calc(32 * 42vw / 600);
$paper-lineHeight-tmb-pc: calc((52 * 42vw) / 600);
